<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CxTokens</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <main class="container">
        <section style="display: flex; flex: 1;">
            <h1>CxTokens</h1>
        </section>
        <div class="player_data" id="player_data"></div>
        <h4>Made by <a href="https://github.com/CKAY-9">CKAY9</a></h4>
    </main>

    <script src="{{ url_for('static',filename='index.js') }}"></script>
</body>
</html>